body {
  margin: 20px;
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
  background-color: #8c96aa;
}
input, textarea {
    width: 150px ;
    height: 150px;
    box-sizing: border-box;
}
.card-title{
  border: solid 2px  white;
  border-radius: 8px;
  width: 50%;
  margin: auto 0;
  position: flex;
  margin-left: auto;
  margin-right: auto;
}
hr{
  border-top:solid 5px;
  width: 50%;
  color: black;
}
h1{
  color: black;
  font-weight: bold;
}
h3{
  color: darkblue;
  font-weight: 700;
}
h4{
  color: rgb(81, 78, 241);
  font-weight: 700;
}

.Navbtn{
  display: block;
  width: 10%;
}

.form-group{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
/* #bottun{
  display: inline-block;
} */

  .btn btn-warning, .btn btn-info {
    display: inline-block;
  }